.font-12{font-size: 12px;color:#ff9191}
.font-12-b7{font-size: 12px;color:#b7b7b7}
.font-13{font-size: 13px;color: #bababa;}
.font-14{font-size: 14px;color: #666666;}
.font-15{font-size: 15px;color: #d30000;}
.font-15-99{font-size: 15px;color: #999999;}
.font-16{font-size: 16px;color: #000000;}
.font-24{font-size: 24px;color: #696969;}
.font-26{font-size: 26px;color: #ed6a6a;}

.logo{width: 201px;height: 37px;}
.bg-7f{
	background-color: #7f7f7f;
	font-size: 15px;
	color: #ffffff;
}
.bg-ec{
	background-color: #f7f7f7;
}
.bg-ff{
	background-color: #ffffff;
}
.bg-black{
	background-color: #222222;
	font-size: 14px;
	color: #c9c9c9;
}
.my_header,.my_footer{
	width: 100%;
	border: 0;
}
@media (max-width:784px) {
	 .my_header{
	 	height: 18rem;
	 }
}
@media (max-width:991px) {
	.d-0-none {
	  display: none !important;
	}
	.my_footer{
		height: 17rem;
	}
}
@media (min-width:992px) {
	.my_header{
		height: 6rem;
	}
	.my_footer{
		height: 17rem;
	}
}
.img_dh{
	width: 100%;
	transition: 1s;
}
.img_dh:hover{
	transform: scale(1.1);
}
.my_fl{overflow: hidden;}
